:root {
  --primary: #1d3461;
  --secondary: #1f487e;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  height: 40px;
  padding: 10px;
  align-items: center;
}

.header-item {
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
}

.header-item-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outlet-container {
  padding: 10px;
}
.implementation-button {
  position: fixed;
  bottom: 60px;
  right: 60px;
  background-color: var(--primary);
  color: white;
  height: 50px;
  border: none;
  border-radius: 50px;
  padding: 10px;
  font-weight: bold;
}
.outlet-container {
  display: flex;
  justify-content: center;
}
.outlet-style {
  max-width: 700px;
}
